@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: 8px;
  font-weight: 400;
  font-size: 1.2em;
}


h2 {
 text-align: center;
 font-size: 1.7em;
 font-weight: bolder;
 margin: 20px 0;
}

ul {
  list-style: none;
}

.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  }

header {
  position: fixed;
  top: 0;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  padding: 20px;
}

@media (max-width:600px){
  header {
    flex-wrap: wrap;
  }
}

#page-wrapper{
  position: relative;
}

#header-img {
  margin-left: 0;
  padding-left: 0;
  float: left;
  max-width: 20%;
  max-height: 20%;
}

header h1{
  text-align: center;
  display: inline-block;
}

@media (max-width:650px){
  #header-img {
    margin-top:15px;
    width: 100%;
    position: relative;
  }
}

#nav-bar {
  padding: 7px 1px;
  display: inline-block;
  width: 350px;
}

@media (max-width:650px){
  nav {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header ul {
  margin: 0px;
  padding: 0px;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header li {
  float: right;
  margin: auto;
}

main {
  padding-top: 80px;
}

@media (max-width:650px){
  main{
    margin-top: 60px;
  }
}

 .main-form {
  margin: auto;
  text-align: center;
}



 .main-form .form-group input {
   padding: 8px;
   width: 20%;
 }

.main-form input[type="submit"]{
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  font-weight: bolder;
  font-size: 1.1em;
  cursor: pointer;
}

.main-form input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

.features {
  margin: 70px 10px;
  display: block;
  /* border: 2px solid red; */
}

.features-section {
  margin: 80px 0;
}

.features-section .picture img{
  width: 90px;
  height: 90px;
  float: left;
  margin-top:auto;
}

#features .icon {
  width: 90px;
  height: 90px;
  float: left;
  margin-top:auto;
  color: darkorange;
}

.features-section .description {
  margin-left:150px;
  margin-top: 30px;
}

.features-section .description h2 {
  text-align: left;
  margin-bottom: 0;
}

.features-section .description p {
  font-size: 1.1em;
  padding-top: 0;
  top: 0;
}

.how-it-works {
  text-align: center;
  margin-top:100px;
  margin-bottom:100px;
}

#how-it-works iframe {
  width: 660px;
  height: 400px
}

.pricing {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  max-height: 1000px;
  width: 100%;
  height: 100%;

}

.pricing .item {
  float: right;
  width: 80%;
  height: 80%;
  border: 1px solid;
  padding: 5px;
  margin: 20px 10px;
}

.pricing .item #item-title {
  background-color: rgb(221, 221, 221);
  padding: 20px;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}

.pricing .item #item-price {
  font-size: 1.7em;
  text-align: center;
  padding: 15px 0;
  marging: 20px auto;
}

.pricing .item li {
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0;
}

.pricing .item button {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 20px auto;
  border: 0;
  background-color: #f1c40f;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

footer p{
  text-align: left;
  width: 500px;
}
